body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue !important;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 600px !important;
    border-radius: 5px !important;
  }
}
@media screen and (min-width: 576px) {
  .form-inline .form-control {
    width: calc(100% - 85px) !important;
  }
}
